html,body{
	padding:0;
	margin:0;
	background:#212223;
	overflow-x: hidden;
	width:100vw;
}

h1,h2,h3{
	font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4{
	color:#FFF;
	margin:0;
}

h1{
	font-size:100px;
}

h2{
	font-size:40px;
}

h3{
	font-size:23px;
	line-height: 37px;
}

h4{
	font-family: 'Playfair Display', serif;
	font-size:20px;
	font-weight:300;
}

.scroll{
    position: fixed;
    width: 100vw;
    height: 70px;
    bottom: 0;
    text-align: center;
	font-family: Poppins;
	font-size: 16px;
	color: #FFFFFF;
	opacity: 0.5;
}

.block{
}

.rulers{
	width: 1000px;
    height: 100vh;
    border: 1px dashed #FFF;
    position: fixed;
    left: 50%;
    margin-left: -501px;
}

.block.hero{
	height: 90vh;
	min-height:670px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content.hero{
	width: 79vw;
	height: 600px;
	display: flex;
	max-width: 1100px;
	position: relative;
}

.item{
	background:#FFF;
	height:300px;
	width:1000px;
}

.hero .details{
	margin-top: 125px;
	width: 510px;
	z-index: 1000;
}


.hero .right-pane{
	position: absolute;
	height: 600px;
	width: 664px;
	right: -6%;
}

.hero h1{
	width: 550px;
    line-height: 92px;
}

.hero h3.list1{
	opacity: 0.6;
	font-size:23px;
}

.hero h3.list2{
	opacity: 0.4;
	font-size:23px;
}

.hero h3.list3{
	opacity: 0.3;
	filter: blur(1px);
	font-size:23px;
}

.hero h3.list4{
	opacity: 0.2;
	filter: blur(3px);
	font-size:14px;
}

.hero h4{
	position: absolute;
	margin-top: 70px;
	margin-left: 10px;
	transform: rotate(-17.5deg);
}

.hero .image{
	background-size: contain;
    background-repeat: no-repeat;
}

.hero .profile{
	width: 295px;
	height: 438px;
	background-image: url(profile.jpg);
	box-shadow: 0px 0px 100px 54px rgb(0 0 0 / 25%);
	position: absolute;
	margin-left: 300px;
	margin-top: 100px;
	z-index: 300;
}

.hero .qr{
	width: 100px;
	height: 100px;
	background-image: url(qr.png);
	position: absolute;
	margin-left: 540px;
	margin-top: 490px;
	z-index: 400;
}

.arrow-group{
	position: relative;
    height: 130px;
    width: 280px;
    margin-top: 400px;
    margin-left: -8px;
}

.hero .arrow{
	width: 189px;
	height: 112px;
	background-image: url(arrow.png);
	position: absolute;
	right: 0;
}

.hero .circle1{
	width: 100px;
	height: 100px;
	background-image: url(circle1.png);
	position: absolute;
	margin-left: 540px;
	margin-top: 145px;
}

.hero .circle2{
	width: 150px;
	height: 150px;
	background-image: url(circle2.png);
	position: absolute;
	margin-left: 528px;
	margin-top: 60px;
}

.new .content{
	width: 90vw;
    height: 300px;
    background: #FFFF;
    margin-top: 10px;
}


@media screen and (max-width: 1100px){
.content.hero{
	width: 85vw;
}
}

@media screen and (max-width: 1000px){
	.block.hero{
		height: 920px;
	}

	.content.hero{
		height: 900px;
	}

	.hero .details{
		margin-top: initial;
		bottom: 60px;
		position: absolute;
	}

	.hero .right-pane{
		right: 0;
	}

	.hero .arrow-group{
		margin-top: 270px;
	}

	.content.hero{
		width: 90vw;
	}
}


@media screen and (max-width: 719px){

.block.hero{
    height: 90vh;
    min-height:450px;
}

.content.hero{
	width: initial;
    height: initial;
    display: initial;
    position: initial;
    max-width: initial;
    height: 450px;
    width: 100%;
    position: relative;
}

.hero .arrow-group{
	margin-top: 175px;
    width: 145px;
    height: 70px;
    left: 31px;
    z-index: 400;
}

.hero .details{
	left: 10px;
	bottom: 0;
	width: initial;
}


.hero .right-pane{
width: 310px;
    height: 300px;
    top: 0;
    right: 0;
}

.hero h1{
	font-size:50px;
	line-height:50px;
	width:270px;
}

.hero h2{
	font-size:24px;
	line-height:32px;
}

.hero h3.list1{
	font-size:13px;
	line-height:20px;}

.hero h3.list2{
	font-size:13px;
	line-height:20px;
}

.hero h3.list3{
	font-size:13px;
	line-height:20px;}

.hero h3.list4{
	font-size:8px;
	line-height:13px;
}

.hero h4{
font-size: 12px;
    margin-top: 38px;
    margin-left: -2px;
}

.hero .profile{
width: 162px;
    height: 240px;
    margin-left: 120px;
    margin-top: 30px;
}

.hero .qr{
    width: 55px;
    height: 55px;
    margin-left: initial;
    margin-top: 245px;
    right: 10px;
}

.hero .arrow{
width: 104px;
    height: 62px;
}

.hero .circle1{
    width: 54px;
    height: 54px;
    margin-left: initial;
    right: 12px;
    margin-top: 45px;
}

.hero .circle2{
width: 82px;
    height: 82px;
    margin-left: initial;
    right: 0px;
    margin-top: 0px;
}


}

/*@media screen and (max-width: 920px){
	.rulers{
		width: 668px;
		margin-left: -335px;
	}

	.content.hero{
		width: 668px;
		height: 800px;
	}

	.hero .details{
		margin-top: 480px;
    	width: 510px;
	}

	.hero .right-pane{
		margin-left: -485px;
		margin-top: -100px;
	}
}*/